html{
	scroll-behavior: smooth;
}
*{
	margin-left:0;
	margin-right:0;
	padding:0;
}

header #logo{
	height: 50px;
	width: auto;
	float:left;
	margin-left: 2%;
}

*{
	box-sizing: border-box;
}
/*ou si ca ne fonctionne pas remets #body2*/section{
	font-family: arial,sans-serif;
	font-size:16px;
	line-height: 18px;
}
header a{
	text-decoration: none;
	color:black;
}

#bodyp1 section{
	flex-wrap: wrap;
}
/* .navigation{
	margin-left: 20%;/*margin: 0 auto;
	width:100%;/*width: 1000px;
} */
header{
	border-bottom: 1px solid #eee;
}
header li{
	display:inline-block;
	vertical-align: top;
	position: relative;
	/*border:solid;*/
}
header li a{
	display:block;
	padding:20px;
}
header li:hover a{
	background-color: black;
	color:#fff;
}
header li:hover .sub-menu{
	display:block;
	width: 100%;
}
.sub-menu{
	display:none;
	position: absolute;
	background-color:black;
	width:200px;
    padding: 0;
}
.sub-menu li{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sub-menu li a{
	color: #fff;
}

.intro{
    background-image: url("Images/banniere4.jpg");
    background-repeat: no-repeat;
	margin:0px;
	height:650px;
	width:100%;
}

@media screen and (max-width : 770px) {
    .intro{
    background-image:url("Images/ouvrier.jpg");
    background-repeat:no-repeat;
    }
}

.bloc1{
	width: 100%;
	height: auto;
	/*background-color: red;*/
	margin: 0;
	display: flex;
	justify-content: flex-start;
	flex-direction: center;
}

.bloc1 h2{
	font-size: 45px;
	padding-top:10%;
	text-align: center;
	padding-left: 1%;
	text-shadow:#e7f6ff 0 -1px 0,
	#a74a0c 1px 1px 0,
	#d97f32 2px 2px 0,
	#f5993d 3px 3px 0,
	#fec362 4px 4px 0,
	#ffe687 5px 5px 0,
	#333 5px 5px 10px;color:#F30034;
}

.bloc1 img{
	width:50%;
	height: auto;
}

@media screen and (max-width : 770px){ /*responsive du bloc1*/
.bloc1{
	flex-wrap: wrap;
}
.bloc1 h2{
	font-size: 25px;
	padding-top:10%;
	text-align: center;
	padding-left: 1%;
	text-shadow:#e7f6ff 0 -1px 0,
	#a74a0c 1px 1px 0,
	#d97f32 2px 2px 0,
	#f5993d 3px 3px 0,
	#fec362 4px 4px 0,
	#ffe687 5px 5px 0,
	#333 5px 5px 10px;color:#F30034;
}
}

#bouton {
  color: #f7f7f7;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 60vw;
  max-width: 600px;
  margin: 0 auto;
  min-height: 50vh;
}
.button {
  background: linear-gradient(
  135deg,
  rgba(85, 239, 203, 1) 0%,
  rgba(30, 87, 153, 1) 0%,
  rgba(85, 239, 203, 1) 0%,
  rgba(91, 202, 255, 1) 100%
  );
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  color: black;
  text-decoration: none;
}

.button:hover{
	cursor: pointer;
}

/*PIED DE PAGE*/
.contenu {
    /* grow shrink basis */
    flex: 1 0 auto;
}
.contenu p {
    padding: 5vw 10vw;
    text-align: justify;
}

footer {
    flex-shrink: 0;
    border-top: 1px solid black;
    width: 100%;
    background: black;
    color: white;
}
.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

/* contact */
.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3 {
    font-size: 25px;
    padding-bottom: 20px;
}
.footer-contact ul{
	list-style-type: none;
}
.footer-contact a{
	text-decoration: none;
	color:white;
}

/* Services */


.liste-services,
.liste-horaires,
.liste-media {
    list-style-type: none;
}

.liste-horaires a{
	text-decoration:none;
	color:white;
}


.liste-services li {
    padding: 2px 0;
}
.liste-services a {
    text-decoration: none;
    color: white;
}
.liste-partenaire a:hover {
    color: #FF5733;
}
.liste-horaires a:hover {
    color: #FF5733;
}
.liste-services a:hover {
    color: #FF5733;
}
.liste-media a:hover {
    color: #FF5733;
}

/* Medias */

.liste-media {
    position: relative;
}
.liste-media a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
}

@media screen and (max-width: 1300px) {

    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc {
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 800px) {
    .contenu-footer {
        width: 320px;
    }
    .bloc {
        width: 300px;
        margin: 30px 30px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }
}